@charset "UTF-8";
/*
* © 2016
* Designed and Coded by Matthew Pence
* @cmykw_
*/
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

small {
  font-size: 80%; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
  font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important; }

body {
  background: #FFF;
  color: #424242;
  font: 300 1.4em/1.6 sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, img, ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

li {
  display: inline-block; }

@keyframes fade-n-scale {
  0% {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 1); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
@font-face {
  font-family: 'Circular-Std';
  src: url("fonts/Circular-Std-Book.eot");
  src: local("☺"), url("fonts/Circular-Std.woff") format("woff"), url("fonts/Circular-Std.ttf") format("truetype"), url("fonts/Circular-Std.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Graphik-Regular';
  src: url("fonts/Graphik-Regular.eot");
  src: local("☺"), url("fonts/Graphik-Regular.woff") format("woff"), url("fonts/Graphik-Regular.ttf") format("truetype"), url("fonts/Graphik-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SpaceMono-Regular';
  src: url("fonts/SpaceMono-Regular.eot");
  src: local("☺"), url("fonts/SpaceMono-Regular.woff") format("woff"), url("fonts/SpaceMono-Regular.ttf") format("truetype"), url("fonts/SpaceMono-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
h1 {
  font: 400 0.8rem/0.8 'Circular-Std', sans-serif;
  color: #0C0C0C;
  letter-spacing: -5px;
  opacity: 0;
  text-align: center; }
  @media (min-width: 1200px) {
    h1 {
      font-size: 18.8rem;
      margin-top: -3rem;
      opacity: 0.025; } }

h2 {
  font-family: 'Circular-Std',Sans-Serif;
  font-size: 3.2rem;
  color: #0C0C0C;
  text-align: center; }
  @media (min-width: 600px) {
    h2 {
      font-size: 5.4rem; } }

h3 {
  font: 400 1.6rem/2 'SpaceMono-Regular', monospace;
  color: #0C0C0C;
  text-align: center; }

p {
  font: 400 1.6rem/1.9 'Graphik-Regular', sans-serif;
  color: #0C0C0C;
  letter-spacing: -0.2px;
  text-align: justify; }

a {
  font: 400 1.4rem/1.9 'Graphik-Regular', sans-serif;
  color: #0C0C0C;
  display: block;
  letter-spacing: -0.2px;
  text-align: center;
  text-decoration: underline;
  transition: all 300ms ease; }

a:hover {
  text-decoration: line-through; }

body {
  opacity: 1;
  animation: none; }

a.reset-a {
  text-decoration: none; }

.year {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  @media (min-width: 700px) {
    .year {
      flex-flow: row;
      overflow-x: scroll;
      overflow-y: hidden; } }
  .year h1 {
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 0.9;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 2vw;
    left: 6vw;
    opacity: 1;
    z-index: 999; }
    @media (min-width: 350px) {
      .year h1 {
        font-size: 2rem;
        top: 3vw; } }
    @media (min-width: 700px) {
      .year h1 {
        font-size: 3.2rem;
        top: 5vw; } }
    @media (min-width: 1000px) {
      .year h1 {
        left: 4vw; } }
  .year h1:hover {
    text-decoration: line-through; }

.month {
  flex: 1;
  min-height: 33.333vh;
  width: 100vw; }
  .month a {
    text-decoration: none; }
  @media (min-width: 700px) {
    .month {
      height: 100vh;
      min-width: 33.333vw; } }
  .month .month-content {
    margin: 20vw 6vw 0;
    position: relative;
    width: calc((100% / 12) * 5);
    z-index: 808; }
    @media (min-width: 700px) {
      .month .month-content {
        margin: 50vh 6vw 0;
        width: calc((100% / 12) * 7); } }
    @media (min-width: 1000px) {
      .month .month-content {
        margin: 48vh 4vw 0;
        width: calc((100% / 12) * 8); } }
  .month h1, .month h2, .month h3, .month p, .month a {
    color: #FFF;
    font-size: 12px;
    text-align: left; }
  .month h2 {
    font-size: 2.4rem;
    line-height: 0.9;
    margin: 1.4rem 0 0;
    transition: all 300ms ease;
    will-change: transform; }
    @media (min-width: 700px) {
      .month h2 {
        line-height: 1.1;
        margin: 18vw 0 0; } }
    @media (min-width: 1000px) {
      .month h2 {
        font-size: 4rem;
        margin: 10vw 0 0; } }
  .month p {
    font-size: 1.2rem;
    line-height: 1.1;
    margin: 1rem 0 0;
    transition: all 300ms ease;
    will-change: transform; }
    @media (min-width: 700px) {
      .month p {
        position: absolute;
        top: 30vw; } }
    @media (min-width: 1000px) {
      .month p {
        top: 22vw; } }
  .month span {
    display: none; }
    @media (min-width: 700px) {
      .month span {
        display: block;
        opacity: 0;
        transition: all 400ms ease;
        will-change: opacity; } }

@media (min-width: 700px) {
  .month-content:hover h2 {
    transform: translate3d(0, -20px, 0); } }
@media (min-width: 700px) {
  .month-content:hover p {
    transform: translate3d(0, 15px, 0); } }
.month-content:hover span {
  opacity: 1; }
.month-content:hover span:hover {
  text-decoration: line-through; }

.entry:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #aa0014;
  mix-blend-mode: darken;
  height: 100%;
  width: 100%; }

#left-arrow {
  display: none; }
  @media (min-width: 1000px) {
    #left-arrow {
      display: block;
      position: absolute;
      bottom: 3vw;
      left: 4vw;
      opacity: 0.7;
      transform: rotate3d(0, 0, 1, 180deg);
      will-change: opacity, transform;
      z-index: 999; } }

#right-arrow {
  display: none; }
  @media (min-width: 1000px) {
    #right-arrow {
      display: block;
      position: absolute;
      bottom: 3vw;
      right: 4vw;
      opacity: 0.7;
      will-change: opacity, transform;
      z-index: 999; } }

#right-arrow:hover, #left-arrow:hover {
  opacity: 1; }

.oct-sm {
  background-image: url("../../images/2016/oct-sm.jpg");
  background-position: center;
  background-size: cover; }

.cabin-sm {
  background-image: url("../../images/2016/cabin-sm.jpg");
  background-position: center;
  background-size: cover; }

.test-sm {
  background-image: url("../../images/2016/test-sm.jpg");
  background-position: center;
  background-size: cover; }
