body {
  background: #C20019;
}

.logotype {
  font: 400 1.4rem/0.95 'Circular-Std', sans-serif;
  color: $gravity;
  position: absolute;
  left: 4vw;
  top: 4vw;
  text-align: left;
  text-transform: uppercase;
  z-index: 909;

  @include breakpoint(xs) {
    font-size: 1.8rem;
  }
  @include breakpoint(sm) {
    font-size: 2rem;
  }
  @include breakpoint(md) {
    font-size: 2.4rem;
  }
  @include breakpoint(md_landscape) {
    left: 3vw;
  }
  @include breakpoint(lg) {
    font-size: 3.2rem;
  }
}

.logotype:hover {
  text-decoration: line-through;
}

.year {
  border: 2px solid pink;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  //overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include breakpoint(md_landscape) {
    flex-flow: row;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.month {
  border: 1px solid blue;
  flex: 1;
  min-height: 33.333vh;
  width: 100vw;

  @include breakpoint(md_landscape) {
    height: 100vh;
    min-width: 33.333vw;
  }

  a {
    text-decoration: none;

    h2, p {
      transition: all 300ms ease;
      will-change: transform;
    }

    span {
      display: none;
      @include breakpoint(md_landscape) {
        display: block;
        opacity: 0;
        margin: -0.5vw 0 -2vw 0;
        position: relative;
        transition: all 200ms ease;
        transition-delay: 150ms;
        will-change: opacity;
      }
    }
  }

  a:hover {
    text-decoration: none;

    span {
      @include breakpoint(md_landscape) {
        opacity: 0.65;
      }
    }

    span:hover {
      opacity: 1;
      text-decoration: line-through;
    }

    h2 {
      @include breakpoint(md_landscape) {
        transform: translate3d(0,-24px,0);
      }
    }
    p {
      @include breakpoint(md_landscape) {
        transform: translate3d(0,10px,0);
      }
    }
  }
}

.month-content {
  //border: 1px solid green;
  margin: 20vw 4vw 0;
  position: relative;
  z-index: 999;
  width: grid-width(5);

  @include breakpoint(sm) {
    margin: 24vw 4vw 0;
  }
  @include breakpoint(md) {
    margin: 14vw 4vw 0;
    width: grid-width(4);
  }
  @include breakpoint(md_landscape) {
    margin: 32vw 3vw 0;
    width: grid-width(8);
  }
  @include breakpoint(lg) {
    margin: 24vw 3vw 0;
    width: grid-width(8.4);
  }

  h2, h3, p, a, span {
    color: #FFF;
    text-align: left;
  }
  h2 {
    margin: 5.4vw 0 0;

    @include breakpoint(xs) {
      margin: 8vw 0 0;
    }
    @include breakpoint(md) {
      margin: 6.4vw 0 0;
    }
    @include breakpoint(md_landscape) {
      margin: 9vw 0 0;
    }
    @include breakpoint(lg) {
      margin: 12vw 0 0;
    }
  }
  p {
    //border: 1px solid purple;
    margin: 2.8vw 0 0;
    max-width: 19rem;

    @include breakpoint(md) {
      margin: 2vw 0 0;
    }
  }
}

.lf-arrow {
  display: none;
  transition: all 300ms ease;
  transform: rotate3d(0,1,0,180deg);
  will-change: transform;

  @include breakpoint(md_landscape) {
    display: block;
    position: absolute;
    bottom: 4%;
    left: 3vw;
    z-index: 909;
  }
}

.lf-arrow:hover {
  transform: rotate3d(0,1,0,180deg) translate3d(5px,0,0);
}

.rt-arrow {
  display: none;
  transition: all 300ms ease;
  will-change: transform;

  @include breakpoint(md_landscape) {
    display: block;
    position: absolute;
    bottom: 4%;
    right: 3vw;
    z-index: 909;
  }
}

.rt-arrow:hover {
  transform: translate3d(5px,0,0);
}

.oct-sm {
  background-image: url('../../images/2016/oct-sm.jpg');
  background-position: center;
  background-size: cover;
}

.sept-sm {
  background-image: url('../../images/2016/cabin-sm.jpg');
  background-position: center;
  background-size: cover;
}

.aug-sm {
  background-image: url('../../images/2016/test-sm.jpg');
  background-position: center;
  background-size: cover;
}

.entry-red:before {
  @include entry-red;
}
