* {
  //border: 1px solid pink;
}

body {
  opacity: 0;
  animation: fade-n-scale 1.75s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}


//Navigation
.left-nav {
  //display: none;
  position: relative;
  bottom: 0;
  left: 3%;
  opacity: 1;
  float: left;
  margin: 3rem 0;
  transition: all 300ms ease;
  z-index: 303;

  @include breakpoint(md) {
    position: absolute;
    display: block;
    bottom: 30%;
    left: 8%;
    margin: 0;
    opacity: 0.15;
  }

  @include breakpoint(lg) {
    display: block;
    bottom: 30%;
    left: 15%;
  }

  svg {
    display: none;
    @include breakpoint(md) {
      display: block;
      position: absolute;
      left: 26px;
      top: 26px;
      transform: rotate3d(0,1,0,-180deg) scale3d(0.75, 0.75, 1);
    }
  }
}

.left-nav.active {
  display: none;
}

.left-nav:hover {
  opacity: 1;
  svg {
    transform: rotate3d(0,1,0,-180deg) scale3d(0.75, 0.75, 1);
  }
}

.right-nav {
  //display: none;
  position: relative;
  bottom: 0;
  right: 3%;
  opacity: 1;
  float: right;
  margin: 3rem 0;
  transition: all 300ms ease;
  z-index: 303;

  @include breakpoint(md) {
    position: absolute;
    display: block;
    bottom: 30%;
    right: 8%;
    margin: 0;
    opacity: 0.15;
  }

  @include breakpoint(lg) {
    display: block;
    bottom: 30%;
    right: 15%;
  }

  svg {
    display: none;
    @include breakpoint(md) {
      display: block;
      position: absolute;
      right: 26px;
      top: 26px;
      transform: scale3d(0.75, 0.75, 1);
    }
  }
}

.right-nav.active {
  display: none;
}

.right-nav:hover {
  opacity: 1;

  svg {
    transform: scale3d(0.75, 0.75, 1);
  }
}


//Colophon
a.toggle {
  position: absolute;
  top: 0.9%;
  right: -4%;
  transform: translate(-50%, 0);
  text-align: center;
  z-index: 808;

  @include breakpoint(sm) {
    right: -2%;
    top: 1%;
  }

  @include breakpoint(md) {
    top: 1%;
    right: 2%;
  }

  @include breakpoint(md_landscape) {
    top: 1%;
    right: 2%;
  }

  @include breakpoint(lg) {
    top: 2%;
    right: 5%;
  }
}

.colophon {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #FFF;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 300ms ease;
  z-index: 303;
  will-change: opacity;

  h3 {
    margin: 1rem 0 0;
    opacity: 0.7;
    text-align: left;
    text-transform: uppercase;

    @include breakpoint(md) {
      margin: 3rem 0 0;
    }
  }

  p {
    margin-top: 1rem;
    line-height: 1.7;
  }

  a {
    display: inline;
    font-size: 16px;
    text-align: left;
  }
}

.colophon.active {
  opacity: 0.85;
//  z-index: 707;
}

.title {
  font-family:'Circular-Std',Sans-Serif;
	font-size: 2.8rem;
  color: $gravity;
  margin: -1.5rem 0 0;
  text-transform: uppercase;

	@include breakpoint(md) {
    font-size: 4.8rem;
  }
}

.project-details {
  margin: 0 auto;
  position: fixed;
  padding: 4rem 3rem;
  width: grid-width(10);

  @include breakpoint(md) {
    margin: 0;
    padding: 6rem;
    width: grid-width(7);
  }

  @include breakpoint(lg) {
    margin: 0;
    padding: 6rem;
    width: grid-width(6);
  }
}

.other-stuff {
  position: absolute;
  top: 11.5%;
  right: 5%;
  width: grid-width(4);

  p {
    margin: 2rem 0 0 0;
  }
}

.hide-sm {
  display: none;
  @include breakpoint(md) {
    display: inline;
  }
}

.hide-sm-2 {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}

.hide-ls {
  @include breakpoint(md_landscape) {
    display: none;
  }
  @include breakpoint(lg) {
    display: block;
  }
}

section.blur {
  filter: blur(7px);
  //transform: scale3d(0.9,0.9,1);
  //transition-delay: 50ms;
  z-index: 404;
}

//Styles
::selection {
	background: $gravity;
}

section {
  margin: 0 auto;
  padding: 0 0 7vw 0;
  display: block;
  width: 90vw;
  max-width: 170rem;

  @include breakpoint(lg) {
    margin: -10rem auto auto;
  }

  h3 {
    margin: 0.5vw 0 1.5vw 0;
    //padding: 1vw 0;
  }
}

caption {
  //position: absolute;
  margin: -4vw 0 0;
  z-index: 101;
}

figure {
  box-shadow: 0px 240px 80px -190px rgba(0,0,0,0.4);
  position: relative;
  margin: 0 auto;
  height: 80vh;
  opacity: 0;
  width: grid-width(12);
  z-index: 303;

  animation: fade-n-scale 2s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}

/*
figure:hover:before {
  content: '';
  display: block;
  background: #003AFF;
  height: 100%;
  width: 100%;
  position: absolute;
  mix-blend-mode: multiply;
}
*/


figure:before {
  content: '';
  display: block;
  //background: rgba(255,255,255,0.2);
  //mix-blend-mode: overlay;
  height: 100%;
  width: 100%;
  position: absolute;

  animation: fade-n-scale 0.35s;
  //animation-delay: 0.25s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}

.oct-16 {
  //background-image: url('../../images/2016/oct.jpg');
  background-image: url('../../images/2016/test.jpg');
  background-position: center;
  background-size: cover;
}

.oct-16:hover:before {
  display: none;

  @include breakpoint(lg) {
    @include hover-bg;
    content: 'October – Airbnb Tokyo';
  }
}

main {
  position: relative;
  z-index: 303;
  transition: all 300ms ease;
  will-change: z-index, transform;

  /*
  @include breakpoint(lg) {
    z-index: 101;
  }
  */
}

/*
main:hover {
  z-index: 303;
}
*/

header {
  margin: 2rem auto auto;
  @include breakpoint(md) {
    margin: -5rem auto 0 auto;
    width: grid-width(8);
  }
}

article {
  margin: 0 auto;
  width: grid-width(10);

  @include breakpoint(md_landscape) {
    width: grid-width(5);
  }

  @include breakpoint(lg) {
    width: grid-width(3);
  }
}

figcaption {
  margin: 0 auto;
  max-width: 20rem;
}
