

//Typography
@font-face {
	font-family: 'Circular-Std-Book';
	src: url('fonts/Circular-Std-Book.eot');
	src: local('☺'), url('fonts/Circular-Std-Book.woff') format('woff'), url('fonts/Circular-Std-Book.ttf') format('truetype'), url('fonts/Circular-Std-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


//Headings
h1 {
  font: 400 3.6rem/1.1 'Circular-Std-Book', sans-serif;
  color: $gravity;
  letter-spacing: 0.1rem;
  margin: 0 0 2rem 0;

  @include breakpoint(lg) {
    font-size: 4.8rem;
  }
}
